## 1. int
- numerical value with no decimal
- can be neither negative or positive or zero

In [1]:
a = 10
print(a)

10

In [2]:
type(10)

int

In [ ]:
type(a)     # to check the datatype : use type() function

int

In [4]:
id(a)     # address of the object

140714205951176

## 2. Float
- A numerical value with decimal

In [6]:
b=1.0
type(b)

float

## 3. Boolean (bool)

- True / False

In [7]:
b1 = True
print(b1)

True

In [8]:
type(b1)

bool

## 4. String (str)
- A combination or sequence of chracters (alphabets, numbers, special chracters).
- We can use single quote or double quotes to represent strings.

In [9]:
myString1 = 'Hello'
print(myString1)

Hello

In [10]:
myString2 = "Hello"
print(myString2)

Hello

In [11]:
myString3 = '''Hello'''
print(myString3)

Hello

### Multiline strings can be denoted using triple quotes, ''' or """

In [12]:
name = ''' Myy
name is 
bhavya 
rajput
'''
print(name)

 Myy
name is
bhavya
rajput

In [13]:
var1 = 123
type(var1)

int

In [14]:
var2 = "123"
print(var2)

123

### Length of string

In [15]:
string = "Hello 123"
len(string)

9

In [16]:
a = 12345
len(a)

TypeError: object of type 'int' has no len()

In [18]:
a = True
len(a)

TypeError: object of type 'bool' has no len()

### Type Casting
- Convert from 1 datatype to another datatype

In [19]:
# int
a = 0

In [20]:
# int - float
float(a)

0.0

In [21]:
# int - bool
bool(a)

False

In [24]:
# int - str
str(a)

'0'

In [ ]:
b = 222.99

In [26]:
# float - int
int(b)

222

In [27]:
# float - bool
bool(b)

True

In [28]:
# bool to int
int(False)

0

In [29]:
float(True)

1.0

In [30]:
float(False)

0.0

In [31]:
str(True)

'True'

In [1]:
str(False)

'False'

In [ ]:
# string
#int #np
s = "1231.5"
float(s)

1231.5

In [4]:
s = "bhavya"
bool(s)

True

In [5]:
int("12.3.4.9")

ValueError: invalid literal for int() with base 10: '12.3.4.9'

In [6]:
float("12.3.5")

ValueError: could not convert string to float: '12.3.5'

In [7]:
bool("")

False

In [8]:
a = 14
bool(str(float(bool(a))))

True

In [9]:
s = "BHavya, Rajput"
type(s)

str

In [2]:
s = "bhavya","rajput"
type(s)

tuple

In [ ]:
int(22.45)

22